:root {
    /* DARK THEME */
    --dark-background: #282828;
    --dark-border: #404040;
    --dark-border-2: #494949;
    --dark-text: #fff;

    /* LIGHT THEME */
    --light-background: #fff;
    --light-secondary-background: #e2e2e2;
    --light-border: #bbb;
    --light-border-2: #ccc;
    --light-text: #000;

    /* GRAY */
    --gray-50: #f9f9f9;
    --gray-100: #f2f2f2;
    --gray-200: #e6e6e6;
    --gray-300: #cccccc;
    --gray-400: #b3b3b3;
    --gray-500: #999999;
    --gray-600: #808080;
    --gray-700: #666666;
    --gray-800: #4d4d4d;
    --gray-900: #333333;

}









/* FIX WIDTH */
#__next main > div > div > div > div > div {
    width: calc(100% - 12px)!important;
}


/* HIDE CLUTTER */
button.rounded-xl.btn.btn-neutral, div.relative.text-center > span,
 div > div.inline-flex.rounded-xl,
 #__next > div > div > div.flex.items-center.justify-center.bg-token-surface-primary.w-full.py-1,
 div.relative > div.flex > div.mb-5.text-2xl.font-medium,
 #__next  main > div > div > div > div.flex.h-full.flex-col.items-center.justify-center div.gizmo-shadow-stroke {
    display: none;
 }


 /* HIDE CHAT ICONS */
#__next main > div > div > div > div > div.flex > div.text-token-text-primary > div > div {
    padding: 0px!important;
}
#__next main > div > div > div > div > div.flex > div.text-token-text-primary > div  {
    padding: 16px 0px !important;
}
#__next main > div > div > div > div > div.flex > div.text-token-text-primary > div > div > div > div > div > div.gizmo-shadow-stroke {
    position: absolute;
    left: 12px!important;
    top: -4px!important;
}
#__next main > div > div > div > div > div.flex > div.text-token-text-primary > div > div > div > div.font-semibold {
    visibility: hidden;
}



/* IMPROVE SCROLLBAR */
::-webkit-scrollbar-track {
    background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 6px!important;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* DARK MODE */
/*
body {
    background-color: var(--dark-background)!important;
}
:root{
    --surface-secondary: var(--dark-background)!important;
}
.dark\:bg-gray-800 {
    background-color: var(--dark-background)!important;
}
*/

/* LIGHT MODE  # TODO: add the js to toggle and add it here too, also fix code highlighting */

.dark {
    --text-primary: var(--gray-900) !important;
    --text-secondary: var(--gray-700) !important;
    --text-tertiary: var(--gray-500) !important;
    --text-quaternary: var(--gray-300) !important;
    --border-light: hsla(0, 0%, 0%, .1) !important;
    --border-medium: hsla(0, 0%, 0%, .15) !important;
    --border-heavy: hsla(0, 0%, 0%, .2) !important;
    --border-xheavy: hsla(0, 0%, 0%, .25) !important;
    --main-surface-primary: var(--light-background) !important;
    --main-surface-secondary: var(--gray-200) !important;
    --main-surface-tertiary: var(--gray-300) !important;
    --sidebar-surface-primary: var(--gray-50) !important;
    --sidebar-surface-secondary: var(--gray-100) !important;
    --sidebar-surface-tertiary: var(--gray-200) !important;
}
.bg-gray-950 {
    background-color: var(--light-secondary-background)!important;
}
.dark\:text-white {
    color: var(--light-text)!important;
}
code {
    color: #000!important;
}
code span.hljs-comment {
    color: #999!important;
}