button.rounded-xl.btn.btn-neutral, div.relative.text-center > span {
    display: none;
}

 div > div.inline-flex.rounded-xl {
    display: none;
}
 #__next > div > div > div.flex.items-center.justify-center.bg-token-surface-primary.w-full.py-1 {
    display: none;
 }
 div.relative > div.flex > div.mb-5.text-2xl.font-medium {
    display: none;
 }