/* Hide the warning banner below text field */
#thread-bottom-container > div:last-of-type {
    display: none!important;
}

/* Make Header smaller by moving it upward */
body > a + div > div > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
    height: 26px;
}


/* Scrollable chat */
* {
    scrollbar-width: thin;
}


/* Less horizontal padding */
article > div
{
    padding-left: 0;
    padding-right: 0;
}