/* reduce horizontal padding */
main.notion-frame > div > div > div[role="textbox"] > div.layout {
    /*grid-template-columns: auto!important; */
    display: block!important;
    padding-left: 10px;
}

/* Overwrite max-width of data block elements */
div > div[role="textbox"] > div.layout > div.layout-content:last-of-type > div > div[data-block-id] {
    max-width: 1000px !important;
}

/* Make the left padding on hierarchy smaller */
.notion-list-item-box-left.pseudoSelection {
    width: 10px !important;
}


* {
    scrollbar-width: thin;
}

div[data-block-id] {
    max-width: 9999px !important;
}

.layout-full + .layout-content + .layout-content > div > div > div:last-of-type {
    /* width: calc(100% + 96px); */
    left: 0!important;
}
.layout-full + .layout-content + .layout-content > div > div > div:last-of-type > .layout {
    display: block;
}