/* reduce horizontal padding */
main.notion-frame > div > div > div[role="textbox"] > div.layout {
    grid-template-columns: auto!important;
}

/* Overwrite max-width of data block elements */
div > div[role="textbox"] > div.layout > div.layout-content:last-of-type > div > div[data-block-id] {
    max-width: 1000px !important;
}

/* Make the left padding on hierarchy smaller */
.notion-list-item-box-left.pseudoSelection {
    width: 10px !important;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

* {
    scrollbar-width: thin;
}