
/* REDUCE MARGINS */
#task-list-content > ul > li > div.l-task > div.t-inner.task-inner > div, #task-list-content > ul > li > div.l-task > div.t-line {
    margin-left: 25px!important;
}
#task-list-content > ul > li > div.l-task > div.t-inner.task-inner > div div.tips {
    margin-right: 0!important;
}
#task-list-content > ul > li > div.l-task > div.t-inner.task-inner > span {
    left: 2px!important;
}

/* HIDE CLUTTER */
#task-list-content > ul > li .tips .tip.project-hint {
    display: none!important;
}
#task-list-content > ul > div.section-header {
    display: none!important;
}
#left-menu-t, #group-order-option, #tl-bar-action, #add-task, .items-center.tip.date-hint.t-date {
    display: none!important;
}
#left-view {
    display: none!important;
}
/* CHANGE HEADER */
#task-list-view > header {
    height: 0!important;
    display: block!important;
    padding: 6px 0 32px 20px!important;
}
#task-list-view > header > #project-name-bar{
    left: calc(50vw - (90px/2))!important;
}
#task-list-body {
    border-top: 1px solid #4a4a4a!important;
    margin-top: 8px!important;
}

/* HIDE LOADING */
#loading-view {
    opacity: 0.8!important;
}
i.loading-logo {
    display: none!important;
}


/* IMPROVE READABILITY OF TASKS */
#task-list-content > ul {
    padding-top: 8px!important;
}
#task-list-content > ul > li > div.l-task > div.t-inner.task-inner div.title {
    font-size: 1.35em!important;
    height: 55px!important;
    word-break: break-word!important;
    padding-top: 15px!important;
    padding-left: 5px!important;
}
#task-list-content > ul > li > div.l-task > div.t-inner.task-inner > span.t-check {
    height: 55px!important;
}
#task-list-content > ul > li {
    position: relative!important;
    top: 0!important;
    height: 55px!important;
    vertical-align: middle!important;
}
#task-list-content > ul > li > div.l-task {
    padding-left: 4px!important;
}
#task-list-content > ul > li > div.l-task > span {
    display: none!important;
}




/* CHANGE COLORS */
:root {
    --colorscreen-background: #282828!important
}
body, div, .dark {
    background-color: #282828!important;
}
body[data-input-type=keyboard] :not(li[class*=-menu-item]):not(li[class*=-menu-submenu]):not(ul.rc-menu):not(ul.dropdown-menu-menu):not([class*=-menu-submenu-title]):not(.option-item-active):focus
 {
    outline: transparent auto 1px!important;
    z-index: 99999;
}

/* BORDER COLORS */
#task-list-content > ul > li > div.l-task > div.t-line {
    background-color: #444!important;
}
#task-list-content > ul > :nth-child(1) > div.l-task > div.t-inner {

}
#task-list-content > ul > li > div:last-of-type {
    display: none!important;
}

/* FIX HIDDEN TITLES AFTER EDITING */
pre.CodeMirror-line {
    margin-top: 4px!important;
}
pre.CodeMirror-line > span {
    visibility: visible!important;
}

/* HIDE CHECKED HABIT ITEMS */
li.task.checked {
    display: none!important;
}